h1 {
    text-align: center;
    color: #510303;
    font-family: Georgia;
  }

p {
    text-align: center;
    color: #510303;
    font-family: Georgia;
}

img {
    width: 50%;
    display: block;
    margin: auto;
  }

h2 {
    text-align: center;
    color: #510303;
    font-family: Georgia
  }